@model SignalRMVCSolution.Models.DummyDataCls
@{
    ViewData["Title"] = "InstrumentCreate";
}

<h1>InstrumentCreate</h1>

<div>
    @Model.Ticker
</div>
<br />
<div>
    @Model.Benchmark
</div>
<div>
    @Model.Price
</div>